<!-- 
{% extends 'base.html' %}


{% block content%}

<h1> Here are my top five comfort viewing:</h1>
<p> {{ Top 5 }}</p>
<p>The five shows (and one movie) that I turn to when I don't know what to watch:</p>
<ul>
    <li>Stargate SG-1</li>
    <li>Star Trek (1966-2005)</li>
    <li>Doctor Who (2005-)</li>
    <li>The Fifth Element</li>
    <li>Rick and Morty</li>
</ul>

{% endblock %} -->

{% extends 'base.html' %}


{% block content%}
<h1> My top 5 Sci-fi IP </h1>

<!-- <p> {{ scifi }}</p> -->
<p> Four shows and one movie I alway:</p>
<ul> 
    <li>Stargate SG-1</li>
    <li>Star Trek (1966-2005)</li>
    <li>Doctor Who (2005-)</li>
    <li>The Fifth Element</li>
    <li>Rick & Morty</li>
</ul>
{% endblock %}